html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

h1 {
  /* 30px */
  font-size: 3rem;
}

/* restore h1 size */
h1 {
  /* 32px */
  font-size: 3.2rem;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  padding: 20px;
}
